# Compiled Output
dist
tmp
out-tsc
out

# Package Manager
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - Other
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.log

